body {
  font-family: 'Courier New', Courier, monospace;
  /* did not have */
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
    /* did not have */
    margin-bottom: 32px;
}

.information{
  display: flex;
  gap: 52px;
      /* did not have */
  justify-content: center;
  /* not needed, padding-left: 10px;, padding-top: 32px; */
}

.text{
  text-wrap: wrap;
  text-align: center;
  
  /* did not have, not width but max otherwise it will not shrink */
  max-width: 200px;
}